{% load reviews_tags static humanize %}
{% load i18n %}
{% if product.rating != None %}


<div class="rating-wrap">
    <ul class="rating-stars stars-lg">
        <li style="width:{% widthratio product.rating 5 100 %}%" class="stars-active">
            <img src="{% static '/img/icons/stars-active.svg' %}" alt="">
        </li>
        <li>
            <img src="{% static '/img/icons/starts-disable.svg' %}" alt="">
        </li>
    </ul>
    <strong class="label-rating text-lg"> {{product.rating|floatformat:"1"|intcomma}} <span class="text-muted">|
        <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
        {% blocktrans count product.num_approved_reviews as num_reviews %}
            {{ num_reviews }} customer review
        {% plural %}
            {{ num_reviews }} customer reviews
        {% endblocktrans %}
        </a>
    </span></strong>
</div>
<p>
{% endif %}

{% if product|is_review_permitted:user %}
    <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-success btn-sm">
        {% trans "Write a review" %}
    </a>
{% endif %}
</p>

