{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load static %}

{% block product %}
    <figure class="card card-product-grid">
        <div class="img-wrap"> 
            {% block product_image %}
            <div class="img-wrap">
                {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                <span class="badge badge-danger"> NEW </span>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                </a>
                {% endwith %}
            </div> <!-- img-wrap.// -->
            {% endblock %}
        </div> <!-- img-wrap.// -->
        <figcaption class="info-wrap">
            <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" class="title mb-2">{{ product.get_title|truncatewords:4 }}</a>
            <div class="price-wrap">
                {% purchase_info_for_product request product as session %}
                {% if session.price.exists %}
                {% if session.price.excl_tax == 0 %}
                    <p class="price">{% trans "Free" %}</p>
                {% elif session.price.is_tax_known %}
                    <p class="price">{{ session.price.incl_tax|currency:session.price.currency }}</p>
                {% else %}
                    <p class="price">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                {% endif %}
                {% else %}
                    <p class="price">&nbsp;</p>
                {% endif %}
                <!-- <span class="price">$32.00-$40.00</span>  -->
                <!-- <small class="text-muted">/per item</small> -->
            </div> <!-- price-wrap.// -->
               
                <hr>
                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                <ul class="rating-stars">
                    <li style="width:{% widthratio product.rating 5 100 %}%"" class="stars-active">
                        <img src="{% static '/icons/stars-active.svg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/icons/starts-disable.svg' %}" alt="">
                    </li>
                </ul>
                <small class="text-muted">
                    {% blocktrans count product.num_approved_reviews as num_reviews %}
                        {{ num_reviews }}
                    {% plural %}
                        {{ num_reviews }}
                    {% endblocktrans %}
                </small>
                </a>
                {% include "oscar/catalogue/partials/stock_record.html" %}
                <a href="{{ product.get_absolute_url }}" class="btn btn-block btn-outline-primary mt-3"> <i class="fa fa-eye"></i> {% trans 'View product' %}</a>	
            </figcaption>
    </figure>
{% endblock %}
