{% load reviews_tags static %}
{% load i18n %}


<article class="box mb-3">
    <div class="icontext w-100">
        <!-- <img src="../images/avatars/avatar1.jpg" class="img-xs icon rounded-circle"> -->
        <div class="text">
            <span class="date text-muted float-md-right">{{ review.date_created }} </span>  
            <h6 class="mb-1">{{ review.reviewer_name}}
                {% if review.user == user %}
                {% blocktrans with review_date=review.date_created %}
                (You)
                {% endblocktrans %}
                {% endif %}
            </h6>
            <ul class="rating-stars">
                <li style="width:{% widthratio review.score 5 100 %}%" class="stars-active">
                    <img src="{% static '/img/icons/stars-active.svg' %}" alt="">
                </li>
                <li>
                    <img src="{% static '/img/icons/starts-disable.svg' %}" alt="">
                </li>
            </ul>
            <!-- <span class="label-rating">Good
            </span> -->
        </div>
    </div> <!-- icontext.// -->
        <p>
            {{ review.body|striptags }}
        </p>	
    <hr>
    <small>
        <small>
            <a href="{% url 'catalogue:reviews-detail' product_slug=product.slug product_pk=product.pk pk=review.pk %}">{% trans 'Permalink' %} <i class="fas fa-link"></i></a>
        </small>
         | 
        <small>
            {% if review.has_votes %}
                {% blocktrans with num_up_votes=review.num_up_votes count num_votes=review.total_votes %}
                <strong>{{ num_up_votes }}</strong> of {{ num_votes }} customer found this useful
                {% plural %}
                <strong>{{ num_up_votes }}</strong> of {{ num_votes }} customers found this useful
                {% endblocktrans %}
            {% else %}
                {% trans "This review has no votes." %}
            {% endif %}
            </small>
        {% if review|may_vote:user %}
        | 
        <small>{% trans "Is this review helpful?" %}</small>
        <form action="{% url 'catalogue:reviews-vote' product_slug=product.slug product_pk=product.pk pk=review.pk %}" method="post" class="vote_agree d-inline" >
            {% csrf_token %}
            <input type="hidden" name="delta" value="1"/>
            <button type="submit" class="btn btn-success btn-sm d-inline" data-loading-text="{% trans 'Submitting...' %}">{% trans "Yes" %}</button>
        </form>
        <form  action="{% url 'catalogue:reviews-vote' product_slug=product.slug product_pk=product.pk pk=review.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="delta" value="-1"/>
            <button type="submit" class="btn btn-danger btn-sm d-inline" data-loading-text="{% trans 'Submitting...' %}">{% trans "No" %}</button>
        </form>
        {% endif %}
    </small>
</article>
