{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<p class="{{ session.availability.code }} availability">
    {% if session.availability.is_available_to_buy %}
        <i class="fas fa-check-circle"></i>
    {% else %}
        <i class="fas fa-ban"></i>
    {% endif %}
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
