{% load i18n %}

<!-- <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search:search' %}">
    <input class="form-control mr-sm-2" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn btn-secondary my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
</form> -->
<form amethod="GET" action="{% url 'search:search' %}" class="search-header">
    <div class="input-group w-100">
        <!-- <select class="custom-select border-right"  name="category_name">
                <option value="">All type</option><option value="codex">Special</option>
                <option value="comments">Only best</option>
                <option value="content">Latest</option>
        </select> -->
        <input type="text" class="form-control" name="q"  placeholder="{% trans 'Search' %}">
        
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i> {% trans 'Search' %}
          </button>
        </div>
    </div>
</form> <!-- search-wrap .end// -->